#!/usr/bin/env bash

echo "[INSTALL][ZSH] Auto suggestions"

[[ ! -d ~/.zsh/zsh-autosuggestions ]] && git clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions
cd ~/.zsh/zsh-autosuggestions && git pull